<ion-view view-title="Alô, ALERJ!">
    <ion-content>
        <div class="card">
            <div class="item item-text-wrap text-center">
                <h2>A CIDADANIA DO OUTRO LADO DA LINHA</h2>
            </div>
            <div class="item item-divider text-center">
                Para falar com um operador disque
            </div>
            <div class="item item-text-wrap">
                <h1 class="text-center">0800-220-008</h1>
            </div>
            <div class="item item-divider text-center">
                Ou fale pelo Chat Alô, ALERJ
            </div>
            <div class="item item-text-wrap">
                <a href="/#/app/pages/aloAlerjChat" class="button button-block button-positive">
                    Chat
                </a>
            </div>
        </div>
    </ion-content>
</ion-view>
