<ion-view view-title="Notícias">
  <ion-content>
      <div class="item noticias ativo" id="divNoticiaAba">
          <div class="list">
              <a class="item item-thumbnail-left" href="#">
                  <img src="/img/logo/alerj-200x200.png">
                  <p>Royalties: Prefeitos do norte e noroeste fluminense vêm à ALERJ</p>
                  <span class="item-note">27.03.2015 * 16h31</span>
              </a>
              <a class="item item-thumbnail-left" href="#">
                  <img src="http://www.alerj.rj.gov.br/fotos/busconsumidor_04_fv_30_06_14.jpg">
                  <p>Calçadão de Itaguaí terá serviço do ônibos de Defesa do Consumidor</p>
                  <span class="item-note">27.03.2015 * 16h09</span>
              </a>
              <a class="item item-thumbnail-left" href="#">
                  <img src="http://www.alerj.rj.gov.br/fotos/palacio_fachada_zg_new.jpg">
                  <p>Economia no Legislativo já chega a R$ 30 milhões/ano</p>
                  <span class="item-note">27.03.2015 * 16h09</span>
              </a>
              <a class="item item-thumbnail-left" href="#">
                  <img src="http://app.resrc.it/S=W200,H200/http://www.alerj.rj.gov.br/fotos/freixopicciannia_yb_15_03_26.jpg" class="resrc"/>
                  <p>Revistas íntimas serão proibidas também no DEGASE</p>
                  <span class="item-note">27.03.2015 * 16h09</span>
              </a>
          </div>
      </div>
  </ion-content>
</ion-view>
