<ion-view view-title="Comissões Permanentes">
  <ion-content>
      <div class="list">
          <a href="/#/app/pages/comissoes/defesaDoConsumidor" class="item">Defesa do Consumidor</a>

          <a href="#" class="item">Combate às Discriminações e Preconceitos de Raça, Cor, Etnia, Religião e Procedência Nacional</a>

          <a href="#" class="item bar-stable">Defesa do Meio ambiente</a>

          <a href="#" class="item">Constituição e Justiça</a>

          <a href="#" class="item">Orçamento, Finanças, Tributação, Fiscalização Financeira e Controle</a>

          <a href="#" class="item">Agricultura, Pecuária, Políticas Rural, Agrária e Pesqueira</a>

          <a href="#" class="item">Assuntos da Criança, do Adolescente e do Idoso</a>

          <a href="#" class="item">Assuntos da Mulher</a>

          <a href="#" class="item">Assuntos Municipais e de Desenvolvimento Regional</a>

          <a href="#" class="item">Ciência e Tecnologia</a>

          <a href="#" class="item">Defesa dos Direitos Humanos e Cidadania</a>

          <a href="#" class="item">Economia, Indústria, Comércio e Turismo</a>

          <a href="#" class="item">Educação, Cultura e Desportos</a>

          <a href="#" class="item">Emendas Constitucionais e Vetos</a>

          <a href="#" class="item">Indicações Legislativas</a>

          <a href="#" class="item">Legislação Constitucional Complementar e Códigos</a>

          <a href="#" class="item">Minas e Energia</a>

          <a href="#" class="item">Normas Internas e Proposições Externas</a>

          <a href="#" class="item">Obras Públicas</a>

          <a href="#" class="item">Política Urbana, Habitação e Assuntos Fundiários</a>

          <a href="#" class="item">Prevenção ao Uso de Drogas e Dependentes Químicos em Geral</a>

          <a href="#" class="item">Redação</a>

          <a href="#" class="item">Saúde</a>

          <a href="#" class="item">Segurança pública E assuntos de polícia</a>

          <a href="#" class="item">Servidores públicos</a>

          <a href="#" class="item">Trabalho, Legislação Social e Seguridade Social</a>

          <a href="#" class="item">Transportes</a>
      </div>
  </ion-content>
</ion-view>
