<ion-view view-title="Deputados">
    <ion-content>
        <div class="list">
            <div ng-repeat="party in parties">
                <div class="item item-divider">
                    {{party.name}} - {{party.leader}}
                </div>

                <a class="item" ng-repeat="congressman in party.congressmen" href="#/app/pages/congressman/{{congressman.alerj_id}}">
                    {{congressman.name}}
                </a>
            </div>
        </div>
    </ion-content>
</ion-view>
