<ion-view view-title="Página">
  <ion-content>
      <div class="" id="divNoticiaAba">
          <div class="controle_linha">
              <div>10.02.2015 - 18:19</div>
              <a href="/Visualizar/Noticia/141">ALERJ VOTA CORTE NO AUXÍLIO EDUCAÇÃO NESTA QUARTA</a>

              <p>A transformação do atual Auxílio Educação pago aos funcionários da Assembleia Legislativa do Rio (Alerj) que têm filhos em escola particular na Bolsa de Reforço Escolar, uma das principai...</p>
              <a href="/Visualizar/Noticia/141">CONTINUAR</a>
          </div>

          <div>
              <div>05.02.2015 - 11:24</div>
              <a href="/Visualizar/Noticia/121">Apresentação 05/02/2015</a>

              <p>teste posse item1 item2.</p>
              <a href="/Visualizar/Noticia/121">CONTINUAR</a>
          </div>

          <div>
              <div>28.01.2015 - 19:08</div>
              <a href="/Visualizar/Noticia/110">LEI DETERMINA DIVULGAÇÃO DE DISQUE-VIOLÊNCIA CONTRA A MULHER</a>

              <p>Agora é lei: o serviço do Disque 180 – destinado à denúncia de violência contra mulher e criado a partir da Lei Maria da Penha – terá de ser divulgado no estado. É o que determina a Lei 6...</p>
              <a href="/Visualizar/Noticia/110">CONTINUAR</a>
          </div>

          <div><a href="/Listar/IndexNoticia" title="Notícias Anteriores">NOTÍCIAS ANTERIORES</a></div>

      </div>
  </ion-content>
</ion-view>
